[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipfile-requirements = "*"
pytest = "*"
tox = "*"
tox-travis = "*"
black = "*"
flake8 = "*"
codecov = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-marshmallow = "*"
environs = "*"
flask-bootstrap = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
